.quotes{
    --spacer:1.8rem;
    blockquote{
        background-color: var(--clr-primary-700);
        color: var(--clr-netral-100);
        text-align: left;
        border-radius: var(--br);
        padding: var(--spacer);
        max-width: 25rem;
        margin: 0 auto;
        height: 100%;
        img{
            width: 3rem;
            border-radius: 50%;
            // margin-right: var(--spacer);
        }

        .name{
            font-weight: 800;
        }

        .status{
            color: var(--clr-netral-200);
        }

        .quote{
            margin-top: var(--spacer);
        }
    }

}