:root {
  --clr-primary-300: hsl(333, 80%, 67%);
  --clr-primary-700:hsl(300, 43%, 22%);
  --clr-netral-white: hsl(0, 0%, 100%);
  --clr-netral-100: hsl(300, 24%, 96%);
  --clr-netral-200:hsl(0, 1%, 15%);
  --font-fam-main:'Spartan', sans-serif;
  --font-tiny: .82rem;
  --font-normal:.97rem;
  --font-big: 2rem;
  --br:0.4rem;
}

@media (min-width: 50em) {
  :root {
    --font-big: 3rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--font-fam-main);
  font-size: var(--font-tiny);
  padding-top: 5rem;
  text-align: center;
  background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 150% 80%;
}

@media (max-width: 53rem) {
  body {
    background-size: 180% 70%;
  }
}

h1 {
  font-size: var(--font-big);
  color: var(--clr-primary-700);
  max-width: 12ch;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  line-height: 1.2;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 800;
}

@media (max-width: 50em) {
  h1 {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

.lead {
  font-size: var(--font-normal);
  color: var(--clr-netral-200);
  font-weight: 500;
  font-style: italic;
}

main {
  display: -ms-grid;
  display: grid;
  gap: 3rem 1rem;
}

@media (min-width: 50em) {
  main {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    text-align: left;
  }
  .intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .ratings {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .quotes {
    grid-column: 1/-1;
  }
}

.container {
  max-width: 70em;
  padding: 0 2em;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media (min-width: 50em) {
  .split {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.al-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quotes {
  --spacer:1.8rem;
}

.quotes blockquote {
  background-color: var(--clr-primary-700);
  color: var(--clr-netral-100);
  text-align: left;
  border-radius: var(--br);
  padding: var(--spacer);
  max-width: 25rem;
  margin: 0 auto;
  height: 100%;
}

.quotes blockquote img {
  width: 3rem;
  border-radius: 50%;
}

.quotes blockquote .name {
  font-weight: 800;
}

.quotes blockquote .status {
  color: var(--clr-netral-200);
}

.quotes blockquote .quote {
  margin-top: var(--spacer);
}

.ratings li {
  background-color: var(--clr-netral-100);
  font-weight: 800;
  color: var(--clr-primary-700);
  padding: 0.6rem 2rem;
  border-radius: var(--br);
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.ratings li::before {
  content: '';
  width: 85px;
  height: 1rem;
  display: block;
  margin: 0 auto;
  background-image: url(../images/icon-star.svg);
  margin-bottom: 0.5rem;
}

@media (min-width: 50em) {
  .ratings li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .ratings li::before {
    margin: 0 1.5rem 0 0;
  }
  .ratings li:first-of-type {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  .ratings li:last-of-type {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
}
/*# sourceMappingURL=main.css.map */